*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_box{
    width: 100%;
    height: 100vh;
    background-image: url('/asset/img/keybord.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.main_box .slider_menu{
    width: 280px;
    height: 100vh;
    background-color: rgba(255, 255, 251, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 251, 0.5);
    position: fixed;
}
a{
    text-decoration: none;
}
.slider_menu .logo{
    position: absolute;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 6px rgba(255, 255, 251, 0.5);
}
.slider_menu .logo a{
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 40px;
    line-height: 60px;
    text-decoration: none;
}
.slider_menu .links {
    position: absolute;
    top: 80px;
    width: 100%;
}
.slider_menu .links li{
    margin-top: 8px;
    padding: 14px 20px;
}
.slider_menu .links i{
    font-size: 20px;
    color: #fff;
    padding-right: 8px;
}
.slider_menu .links a{
    color: #fff;
   text-decoration: none;
   font-size: 20px;
}
 .links li:hover{
    border-left:  1px solid #fff;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
.slider_menu .social{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);

}
.social a{
    color: #fff;
    padding-left: 10px;
}
.social i{
}